.edit-form {
  padding: 20px;
}
.form-actions {
  text-align: right;
  margin-top: 24px;
  button:first-child {
    margin-right: 8px;
  }
}

.form-hint {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.45);
  margin-top: 4px;
}
